<nav>
    <div class="navbar">
    <b>Home</b>
    <a href="create-task" class="btn btn-primary">Create Task</a>
    <a href="login" class="btn btn-danger">logout</a>
    </div>
</nav>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a class="btn btn-primary" (click)="onUpdate()">Update</a>
      <a class="btn btn-danger" (click)="onUpdate()">Delete</a>
    </div>
  </div>